@mixin paragraph-font {
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $breakpoint-md) {
    font-size: 16px;
    line-height: 28px;
  }
}

@mixin label-font {
  font-size: 14px;
  line-height: 22px; // TODO: use line-height and fonts value multiply $size-unit
  font-weight: 400;
}

@mixin label-font-sm {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;

  @media (min-width: $breakpoint-md) {
    font-size: 12px;
  }
}

@mixin h1-font {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 60px;
  line-height: 80px;

  @media (min-width: $breakpoint-sm) {
    font-size: 95px;
    line-height: 127px;
  }

  @media (min-width: $breakpoint-md) {
    font-size: 106px;
    line-height: 141px;
  }
}

@mixin h2-font {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;

  @media (min-width: $breakpoint-sm) {
    font-size: 65px;
    line-height: 87px;
  }
}

@mixin h3-font {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;

  @media (min-width: $breakpoint-sm) {
    font-size: 42px;
    line-height: 56px;
  }
}

@mixin h4-font {
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;

  @media (max-width: $breakpoint-sm) {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 20px;
  }

  @media (min-width: $breakpoint-md) {
    line-height: 26px;
  }
}
