.about-me {
  margin-top: $size-unit * 29; // 116px

  h2 {
    @include h2-font;
    margin-bottom: $size-unit * 16; // 64px
  }
  h4 {
    @include h4-font;
    margin-bottom: $size-unit * 2; // 8px
  }
  p {
    @include paragraph-font;
    margin-bottom: $size-unit * 6; // 24px
  }
  .resume-link {
    text-decoration: none;

    &:hover {
      transition: all 5s ease-out; // не работает
      text-decoration: underline;
    }
  }

  .about-me-photo {
    display: flex;
    justify-content: flex-end;
    img {
      width: $size-unit * 88; // 352px;
    }
  }
}
