.about-me {
  margin-top: $size-unit * 29; // 116px

  h2 {
    @include h2-font;
    margin-bottom: $size-unit * 16; // 64px
  }
  h4 {
    @include h4-font;
    margin-bottom: $size-unit * 2; // 8px
  }
  p {
    @include paragraph-font;
    margin-bottom: $size-unit * 6; // 24px
  }

  .about-me-photo {
    display: flex;
    justify-content: flex-end;

    @media (max-width: $breakpoint-sm) {
      justify-content: center;
      img {
        width: $size-unit * 70; // 280px;
      }
    }
    @media (min-width: $breakpoint-sm) {
      img {
        width: $size-unit * 63; // 252px;
      }
    }
    @media (min-width: $breakpoint-lg) {
      img {
        width: $size-unit * 88; // 352px;
      }
    }
  }
  .about-me-description {
    .languages {
      @media (min-width: $breakpoint-sm) {
        width: 60%;
      }
      @media (min-width: $breakpoint-md) {
        width: 70%;
      }
    }
  }
}
