.background-spot {
  // filter: blur(100px);
  position: absolute;
  width: 30%;
  height: 50%;
  z-index: -50;
}

.pink {
  background: #f6e7e3;
}

.blue {
  background: #d2e6ea;
}

.green {
  background: #c6e9de;
}

.spot-item1 {
  top: 0;
  right: 0;
  border-radius: 40% 15% 50% 50%;
  transform: skew(-51deg, 22deg);
  // width: 60%;
}

.spot-item2 {
  // top: 655px;
  left: -15%;
  border-radius: 80% 140% 45% 134%;
  transform: skew(45deg, 327deg);
  // width: 60%;
}

.spot-item3 {
  // top: 1400px;
  right: 15%;
  border-radius: 40% 30% 50% 70%;
  transform: skew(40deg, 0deg);
}

.spot-item4 {
  // top: 1600px;
  left: 15%;
  border-radius: 40% 30% 50% 70%;
  transform: skew(-54deg, 0deg);
}

// -------
// .spot-item5 {
//   top: 1700px;
//   right: -10%;
// }
