.contacts {
  color: $dark-blue;
  margin-top: $size-unit * 6; // 24px

  .column {
    display: flex;
    justify-content: flex-end;
  }

  h2 {
    @include h2-font;
  }

  .contacts-description {
    @include paragraph-font;
    margin-top: $size-unit * 5; // 20px
  }

  .contacts-title {
    @include label-font-sm;
  }

  .contacts-mail {
    @include caption; // TODO: use line-height and fonts value multiply $size-unit
    margin-top: $size-unit; // 4px
  }

  .social-media {
    display: none;
  }

  .back-top-button {
    width: $size-unit * 20; // 80px

    & > p {
      @include label-font-sm;
      text-align: center;
    }

    .circular-button {
      margin: 0 auto;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .contacts {
    margin-top: $size-unit * 30; // 120px

    .contacts-title {
      margin-top: $size-unit * 6; // 24px
    }

    .contacts-mail {
      margin-top: $border-unit * 2; // 2px
      margin-bottom: $size-unit * 6; // 24px
    }

    .social-media {
      display: flex;
      color: $dark-blue;
    }

    .back-top-button {
      padding-top: $size-unit * 37; // 148px
      margin: 0 auto;

      & > p {
        padding-top: $size-unit * 4; // 16px
      }
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .contacts {
    margin-top: $size-unit * 28; // 112px

    .contacts-title {
      margin-top: $size-unit * 5; // 20px
    }

    .contacts-mail {
      margin-top: $border-unit * 2; // 2px
      margin-bottom: $size-unit * 6; // 24px
    }

    .back-top-button {
      padding-top: $size-unit * 16; // 64px

      & > p {
        padding-top: $size-unit * 4; // 16px
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .contacts {
    .contacts-description {
      margin-top: $size-unit * 6; // 24px
    }

    .contacts-title {
      margin-top: $size-unit * 10; // 40px
    }

    .back-top-button {
      & > p {
        margin-top: $size-unit * 5; // 20px
      }
    }
  }
}
