.contacts {
  color: $dark-blue;
  h2 {
    @include h2-font;
  }
  .contacts-description {
    @include paragraph-font;
  }
  .contacts-title {
    @include label-font-sm;
  }
  .contacts-mail {
    font-size: 42px; // TODO: use line-height and fonts value multiply $size-unit
  }

  .social-media {
    display: none;
  }
}

@media (max-width: $breakpoint-sm) {
  .contacts {
    .contacts-mail {
      font-size: 20px;
    }
    .social-media {
      display: block;
      color: $dark-blue;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .contacts {
    margin-top: $size-unit * 6; // 24px
    margin-left: $size-unit * 30; // 120px

    .contacts-description {
      margin-top: $size-unit * 6; // 24px
    }

    .contacts-title {
      margin-top: $size-unit * 10; // 40px
    }

    .contacts-mail {
      margin-top: $size-unit; // 4px
    }
    .back-top-button {
      margin-top: $size-unit * 16; // 64px
      width: $size-unit * 20; // 80px

      .circular-button {
        margin: 0 auto;
      }

      p {
        margin-top: $size-unit * 5; // 20px
        @include label-font-sm;
        text-align: center;
      }
    }
  }
}
