.footer {
  position: relative;
  // overflow: hidden;
  max-height: 120px;

  p {
    @include label-font-sm;
  }
  .social-media {
    @include label-font;
    justify-content: flex-end;
  }
}

@media (max-width: $breakpoint-sm) {
  .footer {
    padding-top: $size-unit * 10; // 40px

    .social-media {
      display: none;
    }
  }
}
@media (min-width: $breakpoint-sm) {
  .footer {
    padding-top: $size-unit * 37; // 148px
  }
}
@media (min-width: $breakpoint-md) {
  .footer {
    padding-top: $size-unit * 23; // 92px
  }
}

//Background spot

.footer::before {
  content: "";
  @include background-spot;
  @include pink-20;
  @include spot-item4;
  right: 5%;
  top: 20%;
  width: 60%;
  height: 100%;
}

.footer::after {
  content: "";
  @include noise;
  right: 5%;
  top: 20%;
}
