.hero {
  margin-top: $size-unit * 5; // 20px
  color: $dark-blue;
  position: relative;

  .site-description::before {
    display: block;
    width: $size-unit * 20; // 80px
    border-top: $border-unit solid $dark-blue;
    content: "";
    margin-bottom: $size-unit * 4; // 16px
  }

  .site-description {
    font-size: $font-size; // 14px
    line-height: 172%;
  }

  h1 {
    font-family: "Playfair Display";
  }
  .avatar {
    display: flex;
    justify-content: flex-end;

    img {
      width: $size-unit * 55; // 220px
    }
  }

  .social-media {
    position: absolute;
    bottom: 0;
  }

  @media (max-width: $breakpoint-sm) {
    position: static;
    .site-description::before {
      margin-top: $size-unit * 30; // 120px
    }

    .social-media {
      display: none;
    }

    h1 {
      margin-top: $size-unit * 16; // 64px
      font-size: 60px;
      margin-bottom: $size-unit * 4; // 16px
    }
  }

  @media (min-width: $breakpoint-sm) {
    .social-media {
      right: $size-unit * 4; // 16px
    }

    h1 {
      font-size: 95px;
      margin-top: $size-unit * 52; // 208px
    }
  }

  @media (min-width: $breakpoint-md) {
    .social-media {
      right: unset;
      left: $size-unit * 10; // 40px
    }
    h1 {
      font-size: 106px;
      margin-top: $size-unit * 62; // 248px
      margin-left: $size-unit * 30; // 120px
      margin-bottom: $size-unit * 25; // 100px
    }

    .avatar {
      img {
        margin-right: $size-unit * 30; // 120px
      }
    }
  }
  @media (min-width: $breakpoint-lg) {
    .social-media {
      left: $size-unit * 20; // 80px
    }
  }
}
