.logo {
  background: $grey-60;
  height: $size-unit * 6; // 24px
  width: $size-unit * 6; // 24px
  position: absolute;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: $size-unit * 6; // 24px

  .menu-items {
    align-items: center;
    display: flex;
    cursor: pointer;
    align-content: center;
    padding: $size-unit * 3 $size-unit * 7; // 12px 28px
    &:hover {
      border-bottom: $border-unit solid $dark-blue;
    }
    // TODO: Add slow text animation for .menu-items
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $dark-blue;
      font-size: $size-unit * 4; // 16px
    }
  }

  .resume {
    border: $border-unit solid $dark-blue;
  }
}
