.navigation {
  margin-top: $size-unit * 7; // 28px

  .logo-wrap {
    display: flex;
    .logo {
      display: flex;
      .icon-logo {
        height: $size-unit * 7; // 28px
      }
    }
  }
  .row {
    justify-content: flex-start;
    .column {
      align-content: center;
    }
  }

  @media (max-width: $breakpoint-sm) {
    .logo {
      align-items: flex-end;
      padding-top: 21.5px; // TODO: margin?, found new wey
    }
  }

  @media (min-width: $breakpoint-sm) {
    .logo {
      align-items: flex-end;
      padding-bottom: $size-unit * 4; // 16px
    }
  }
}
