.projects {
  h2 {
    @include h2-font;
  }
}

@media (max-width: $breakpoint-sm) {
  .projects {
    margin-top: $size-unit * 19; // 76px
  }
}

@media (min-width: $breakpoint-sm) {
  .projects {
    margin-top: $size-unit * 25; // 100px
  }
}

@media (min-width: $breakpoint-md) {
  .projects {
    margin-top: $size-unit * 16; // 64px

    h2 {
      margin-left: $size-unit * 30; //120px
    }
  }
}
