.slider {
  max-width: $size-unit * 229; // 916px
  height: $size-unit * 107; // 428px
  margin: 0 auto;
  position: relative;

  .circular-button {
    top: 50%;
    position: absolute;
  }

  .right-circular-button {
    right: -75px;
  }

  .left-circular-button {
    left: -75px;
  }
}
