.slider-item-wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .card-wrap {
    opacity: 0;
    transition: all 1s ease-out;
  }

  &:hover {
    .card-wrap {
      opacity: 0.4;
    }
  }

  .slide-item {
    width: 100%;
    height: 100%;
    max-width: $size-unit * 229; // 916px
    background-position: center;
    background-size: cover;

    &.active {
      .dot {
        background-color: $dark-blue;
      }
    }
  }
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: $size-unit * 6; // 24px

  .dot {
    margin: $size-unit * 3; // 12px
    cursor: pointer;
    width: $size-unit * 4; // 16px
    height: $size-unit * 4; // 16px
    border: $border-unit solid $dark-blue;
    border-radius: 100%;

    &.active {
      background-color: $dark-blue;
    }
  }
}
