.social-media {
  display: flex;
  .icon {
    fill: $black-20;
  }

  .row {
    flex-direction: column;
    margin-top: 10px; // Delete this, after margin

    .column {
      margin-bottom: $size-unit * 5; // 20px
    }
  }
  @media (max-width: $breakpoint-sm) {
    justify-content: flex-end;
  }
}
