// Layout
$layout-max-width: 1360px;
// Default (Up to SM size: 576px)
$layout-padding-sm: 16px;
$layout-padding-md: 40px;
$layout-padding-lg: 80px;

// Layout breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;

// Colors
$black: #292929;
$white: #ffffff;
$grey: #d9d9d9;

$red: #ff5757;
$yellow: #ffde59;
$turquoise: #5ce1e6;
$violet: #9e7fe6;
