// Layout
$layout-max-width: 1360px;
// Default (Up to SM size: 576px)
$layout-padding-sm: 16px;
$layout-padding-md: 40px;
$layout-padding-lg: 80px;

// Layout breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;

// Colors
$black: #282828;
$white: #f5f9fa;
$grey-80: #3c3c3c;
$grey-60: #737373;
$grey-40: #969696;

$dark-blue: #224a54;
$dark-blue-80: #224a54;
$dark-blue-60: #7a9298;
$dark-blue-40: #a7b7bb;

$blue: #bad8e0;
$blue-80: #c8e0e6;
$blue-60: #d6e8ec;
$blue-40: #e3eff3;

$green: #3bab87;
$green-80: #62bc9f;
$green-60: #89cdb7;
$green-40: #b1ddcf;

$pink: #e9c4b9;
$pink-80: #edcfc6;
$pink-60: #f2dbd4;
$pink-40: #f6e7e3;
