// Layout
$layout-max-width: 1360px;
// Default (Up to SM size: 576px)
$layout-padding-sm: 16px;
$layout-padding-md: 40px;
$layout-padding-lg: 80px;

// Layout spacing
$layout-margin: 16px;
$layout-spacing: 28px; //$layout-spacing

// SM and up (> 576px)
$layout-margin-sm: 38px;
$layout-spacing-sm: 28px; //$layout-spacing

// LG and up (> 992px)
$layout-margin-lg: 48px;
$layout-spacing-lg: 28px; //$layout-spacing

// Layout breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;

// Colors
$black: #282828;

$grey-60: #3c3c3c;
$grey-40: #737373;
$grey-20: #969696;

$white-60: rgba(217, 217, 217, 0.6);
$white: #f5f9fa;

$dark-blue: #224a54;
$dark-blue-60: #4e6e76;
$dark-blue-40: #7a9298;
$dark-blue-20: #a7b7bb;

$blue: #98bec8;
$blue-80: #bad8e0;
$blue-60: #c8e0e6;
$blue-40: #d6e8ec;
$blue-20: #e3eff3;

$green: #3bab87;
$green-60: #62bc9f;
$green-40: #89cdb7;
$green-20: #b1ddcf;

$pink: #e9c4b9;
$pink-60: #edcfc6;
$pink-40: #f2dbd4;
$pink-20: #f6e7e3;

$light-pink: #fdf0ec;

// Sizes
$border-unit: 1px;
$size-unit: 4px;
$grid-columns: 12;
$font-size: 14px;
